<form action="/calc" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <br>A:</br>
  <input name="a" value="0" type="text">
  <br>B:</br>
  <input name="b" value="0" type="text">
  <br>C:</br>
  <input name="c" value="0" type="text">
  <p><%=@result %></p>
  <input value="Submit" type="submit">
  
</form>

